@import '../../App.scss';
.body{
  margin-left: 200px;
}
.home{
  position: relative;
}
.homeSplash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92vh;
}
.splashTitle{
  font-size: 72px;
  color: #149EF8;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0;
}
.splashSub{
  color: $subTitleColor;
  font-size: 20px;
  font-weight: 500;
  line-height: 166%;
  padding-bottom: 2rem;
}
.splashBtn{
  background-color: #149EF8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 200px;
  padding: .5rem;
  margin-bottom: 0;
  cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .body{
    margin-left: 20px;
  }
  .splashTitle{
    font-size: 55px;
    color: #149EF8;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .splashSub{
    color: $subTitleColor;
    font-size: 18px;
    font-weight: 500;
    line-height: 166%;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }
  .showOnDesktop{
    display: none;
  }
  .splashBtn{
    font-size: 18px;
    width: 150px;
  }
}