.downArrow{
  margin-left: -200px!important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 150px;
}
.arrow{
  color: #149EF8;
  font-size: 50px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .downArrow{
    margin-left: -20px!important;
  }
}