@import '../../App.scss';
.blueShape{
  position: absolute;
  width: 1341.86px;
  height: 1900px;
  left: 1200px;
  top: -890px;
  background: rgba(186, 227, 252, 0.5);
  transform: rotate(-37.61deg);
  overflow-x: hidden;
  z-index: 999;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .blueShape{
    width: 500px;
    height: 1900px;
    left: 174px;
    top: -890px;
    z-index: 0;
    transform: rotate(-15.61deg);
    overflow-y: hidden;
  }
}