@import '../../App.scss';
header{
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #007BFF;
  overflow-x: hidden;
  padding-top: 5px;
}
nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo{
  width: 100%;
}
.navItems{
  padding: 0;
  padding-top: 1rem;
  text-align: center;
}
.navItems li{
  text-decoration: none;
  list-style: none;
  color: #C8C8C8;
  margin-bottom: 3rem;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.active{
  color: $navItems;
}
.navItems li:hover{
  color: $navItems;
  cursor: pointer;
}
.socialIcons{
  list-style: none;
  color: #C8C8C8;;
  font-size: 25px;
  padding: 0;
  padding-top: 2rem;
  text-align: center;
}
.socialIcons li {
  margin-bottom: 1.5rem;
}
.socialIcons li:hover{
  color: $navItems;
  cursor: pointer;
}
a{
  list-style: none;
  text-decoration: none;
  color: inherit;
}
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.hamburger{
  display: none;
}
.x {
  display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  header{
    width: 0px;
    transition: 6s;
    height: 100%;
  }
  .logo{
    width: 80%;
  }
  .navItems li{
    font-size: 15px;
  }
  .socialIcons{
    font-size: 20px;
    padding-top: 1rem;
  }
  .hamburger{
    display: block;
    padding: 1rem;
    font-size:40px;
    color: #007BFF;
  }
  .x{
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
}