@import '../../App.scss';
.aboutPage{
  height: 92vh;
}
.selfPhoto{
  width: 200px;
  margin-right: 4rem;
  height: 200px;
}
.title{
  font-size: 50px;
  color: #149EF8;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-top: 0;
}
.aboutContent{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.yearContent{
  width: 60%;
}
.year{
  color:#149EF8;
  font-size: 30px;
  margin-bottom: 0;
}
.yearContent hr {
  border: .5px solid $line;
}
.text{
  color: $subTitleColor;
  font-size: 16px;
  font-weight: 500;
  line-height: 166%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .aboutPage{
    height: 100%;
  }
  .selfPhoto{
    width: 150px;
    margin-right: 4rem;
    height: 150px;
  }
  .title{
    font-size: 30px;
    color: #149EF8;
    font-weight: 600;
    margin-bottom: 3rem;
    margin-top: 0;
  }
  .aboutContent{
    display: block;
  }
  .yearContent{
    width: 95%;
  }
  .year{
    font-size: 20px;
  }
  .text{
    font-size: 14px;
  }
}