$background-color: white;
$subTitleColor: #4D4D4D;
$line: rgb(145, 145, 145);
$navItems: white;
$background-color-dark: #4D4D4D;
$subTitleColor-dark: white;
$line-dark: white;
$navItems-dark: #4D4D4D;

.App{
  font-family: 'Montserrat', sans-serif;
  background-color: $background-color;
}