@import '../../App.scss';
.briefPage{
  height: 100%;
  margin-right: 100px;
}
.briefTitle{
  text-align: left;
}
.phaseImage{
  width: 500px;
}
.phaseDesc{
  font-size: 16px;
  width: 600px;
  line-height: 166%;
  margin-bottom: 0;
}
.phaseTitle{
  font-size: 24px;
  color: $subTitleColor;
  margin-top: 0;
}
.briefTimeline{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:(5, 5vw);
  grid-gap: 1px;
  padding: 1rem;
  margin-bottom: 4rem;
}
.phase-1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.phase-2{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.phase-3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.phase-4{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .briefTitle{
    font-size: 20px;
  }
  .phaseImage{
    width: 100%;
  }
  .phaseDesc{
    font-size: 14px;
    width: 100%;
    margin-bottom: 2rem;
  }
  .briefTimeline{
    display: block;
    padding: 0rem;
  }
  .briefPage{
    margin-right: 30px;
  }
}