@import '../../App.scss';
.breifsPage{
  height: 92vh;
}
.briefImage{
  width: 50%;
}
.briefDesc{
  width: 400px;
}
.briefTitle{
  color: $subTitleColor;
  font-size: 28px;
  font-weight: 500;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .briefTitle{
    font-size: 20px;
  }
  .briefDesc{
    width: 300px;
  }
  .briefImage{
    width: 80%;
  }
  .breifsPage{
    height: 100%;
  }
}